
*{
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #948E99 ,#2E1437);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.filtercontainer{
    background-image: linear-gradient(to right, #8E0E00 , #1F1C18);

    border-radius: 18px;
    padding: 1rem;
    box-shadow: -7px -10px 3px rgb(0, 0, 0);
}
#searchtxt,#radiointrotxt{
    margin: 0;
    font-size: 10px;
}
#search{
    margin: 1em;
    background-image: linear-gradient(to right, #948E99 ,#2E1437);
  
    
}
::placeholder{
    padding: 1rem;
    color: white;
}
.radiolist>label{
    font-size: 9px;
    padding: 1em;
}
.radios{
    margin-top: 10px;
   
}
p{
    font-size: 8px;
    margin-bottom: 0;
    margin-left: 8px;
}
.footer{
    padding-bottom: 4rem;
    font-size: 11px;
   
}
.footer>label{
    padding-left:10px;
}
button{
    width: 150px;
    border-radius: 8px;
    background-color: #EBB96E;
    margin-left: 20px;
    padding: 6px 0 ;

}
#copyright{
    font-size: 12px;
}